html {
    font-size: 100%;
}

body {
    font-family: "Roboto", Open-Sans, Arial , sans-serif;
    width: 100%;
    color: #FFFAFA;
    background-color: #86002B;
    font-size: 1rem;
}

main {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color : rgba(15,15,15,1);
    height: 60px;
    z-index: 10;
}

header > nav > ul {
    display: flex;
}

header > nav > ul > li {
    font-size: 1.2rem;
    font-weight: 700;
    padding-right: 50px;
    text-decoration: none;
    list-style: none;
}
header > nav > ul > li > a {
    color: #FFFAFA;
    text-decoration: none;
    list-style: none;
}

header > nav > ul > li > a:hover {
    transition: .4s;
    color: #86002B;
}


header > h1 {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 0.5px;
    font-size: 2.3rem;
    margin-left: 50px;
    font-weight: 700;
}

#form > form > label > input, header > nav > ul > li > form > label > input {
    background-color: #FFFAFA;
    font-family: "Roboto", sans-serif;
    border: none;
    font-weight: 700;
    padding: 5px;
}

header > nav > ul > li > form > label > input {
    border-radius: 10px;
    margin-left: 10px;
}

header > nav > ul > li > form > input {
    margin-left: 30px;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    border: none;
    background-color: #86002B;
    color: #FFFAFA;
    font-weight: 500;
}

.space > label > input, #display > form > label > input {
    background-color: #FFFAFA;
    font-family: "Roboto", sans-serif;
    border: none;
    font-weight: 700;
    padding: 5px;
}

.bottom > label > input {

}

form > .bottom >.button > input {
    font-family: "Roboto", sans-serif;
    padding: 8px;
    border: none;
    background-color: #86002B;
    color: #FFFAFA;
    font-weight: 500;
}

#display > form > .bottom > input {
    font-family: "Roboto", sans-serif;
    padding: 8px;
    border: none;
    background-color: #86002B;
    margin-top: 30px;
    color: #FFFAFA;
    font-weight: 500;
}

form > .bottom >.button > button {
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    padding: 9px;
    border: none;
    background-color: #86002B;
    color: #FFFAFA;
    font-weight: 500;
}

form > .bottom >.button > button > a {
    text-decoration: none;
    color: #FFFAFA;
}

.cave {
    color: #86002B;
}

#display {
    display: flex;
    margin-top: 120px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#display > form {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #0c0c0c;
    max-width: 400px;
}

.input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.picture {
    height: 100%;
    background-color: rgba(128, 0, 43, 0.8);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 35px;
}

.bottom {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.file {
    padding: 20px;
}

.space {
    padding: 3px;
}

.space > h4 {
    font-weight: 500;
    padding-bottom: 3px;
}

.between {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

::-webkit-file-upload-button {
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    padding: 9px;
    border: none;
    background-color: #86002B;
    color: #FFFAFA;
    font-weight: 500;
}

.message_green {
    font-weight: 700;
    display: flex;
    width: 100%;
    background-color: green;
    justify-content: center;
    align-items: center;
    height: 30px;

}

.message_red {
    font-weight: 700;
    display: flex;
    width: 100%;
    background-color: red;
    justify-content: center;
    align-items: center;
    height: 30px;

}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color : rgba(15,15,15,1);
    z-index: 10;
}

.card {
    margin-bottom: 80px;
}

img {
    max-height: 250px;
}