html {
    font-size: 100%;
}

body {
    font-family: "Roboto", Open-Sans, Arial , sans-serif;
    width: 100%;
    color: #FFFAFA;
    background-color: #0c0c0c;
    font-size: 1rem;
}

main {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color : rgba(15,15,15,1);
    height: 60px;
    z-index: 10;
}

header > nav > ul {
    display: flex;
}

header > nav > ul > li {
    font-size: 1.2rem;
    font-weight: 700;
    padding-right: 50px;
    text-decoration: none;
    list-style: none;
}
header > nav > ul > li > a {
    color: #FFFAFA;
    text-decoration: none;
    list-style: none;
}

header > nav > ul > li > a:hover {
    transition: .4s;
    color: #86002B;
}


header > .mobile > h1 {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 0.5px;
    font-size: 2.3rem;
    margin-left: 50px;
    font-weight: 700;
}

#burger {
    display: none;
}

.cave {
    color: #86002B;
}

#cover {
    width: 100%;
    height: 600px;
    background-image: url("../img/chai.jpg");
    filter: blur(4px);
    -webkit-filter: blur(4px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#form {
    padding: 25px 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 200px;
    background-color: #0c0c0c;
}

#form > form {
    display: flex;
    flex-direction: column;
}

#form > h2 {
    font-family: "Roboto Condensed", sans-serif ;
    font-size: 1.6rem;
    margin-bottom: 10px;
}

#form > form > label, #form > form > input {
    padding: 8px;
}

#form > form > label > input, header > nav > ul > li > form > label > input {
    background-color: #FFFAFA;
    font-family: "Roboto", sans-serif;
    border: none;
    font-weight: 700;
    padding: 5px;
}

header > nav > ul > li > form > label > input {
    border-radius: 10px;
    margin-left: 10px;
}

#form > form > input {
    font-family: "Roboto", sans-serif;
    border: none;
    background-color: #86002B;
    color: #FFFAFA;
    font-weight: 500;
    margin-top: 15px;
}

header > nav > ul > li > form > input {
    margin-left: 30px;
    padding: 5px;
    font-family: "Roboto", sans-serif;
    border: none;
    background-color: #86002B;
    color: #FFFAFA;
    font-weight: 500;
}

form > a {
    margin-left: 30px;
    padding: 5px;
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    border: none;
    background-color: #86002B;
    color: #FFFAFA;
    font-weight: 500;
}

#display {
    background-color: #0c0c0c;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 150px;
}

.bottle {
    max-width: 450px;
    padding: 30px;
    background-color: #86002B;
    margin-top: 80px;
    display: flex;
}

.char > h3 {
    font-size: 1.3rem;
    padding: 10px 0;
    max-width: 350px;
}

.char > h4 {
    font-size: 1rem;
    max-width: 350px;
    padding: 5px 0;
}

.char > p {
    line-height: 1.1rem;
    margin-top: 50px;
    font-size: 0.8rem;
    max-width: 250px;
    padding: 5px 0;
}

.wine > img {
    height: 300px;
}

.message_green {
    font-weight: 700;
    display: flex;
    width: 100%;
    background-color: green;
    justify-content: center;
    align-items: center;
    height: 30px;

}

.message_red {
    font-weight: 700;
    display: flex;
    width: 100%;
    background-color: red;
    justify-content: center;
    align-items: center;
    height: 30px;

}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color : rgba(15,15,15,1);
    z-index: 10;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    opacity: 0.9;
    margin-top: 300px;
    width: 100%;
    background-color: #86002B;
}

main > h2 {
    font-family: "Roboto Condensed", sans-serif;
    color: #FFFAFA;
    margin-top: 50px;
    font-size: 2rem;
}
#searchbar {
    margin-top: 50px;
}

#searchbar > form > label > input {
    background-color: #FFFAFA;
    font-family: "Roboto", sans-serif;
    width: 300px;
    border: none;
    font-weight: 700;
    padding: 5px;
}

#searchbar > form > input {
    margin-left: 10px;
    padding: 8px;
    font-family: "Roboto", sans-serif;
    border: none;
    background-color: #86002B;
    color: #FFFAFA;
    font-weight: 500;
}

.no_result {
    font-size: 1.2rem;
    margin-top: 120px;
}

#bottom {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}

#bottom > ul {
    list-style: none;
}

#bottom > ul > li > a {
    color: #FFFAFA;
    text-decoration: none;
    font-size: 1rem;
}

#bottom > ul > li > a:hover {
    transition: .4s;
    color: #0c0c0c;
}

#bottom > ul > li {
    line-height: 25px;
    font-weight: 700;
}

footer > #bottom > h2 {
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 0.5px;
    font-size: 3rem;
    font-weight: 700;
}

.my-footer {
    color: #FFFAFA;
}

.cave-black {
    color: #0c0c0c;
}

@media (max-width: 500px) {
    #searchbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #searchbar > form > label > input {
        width: 200px;
    }

    #searchbar > form {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #searchbar > form > input {
        margin-left: 0px;
        margin-top: 15px;
    }

}

@media (max-width: 1000px) {

    .mobile {
        margin: 10px 10px 0 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #burger {
        margin-right: 20px;
        display: flex;
    }

    .show {
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    nav {
        display: none;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    header > .mobile > h1 {
        margin-left: 20px;
    }

    header, ul, li {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header > nav > ul > li {
        padding-right: 0;
        padding: 10px;
    }

    header > nav > ul > li > form > input {
        margin-left: 0;
        margin-top: 20px;
    }

    header > nav > ul > li > form > label > input {
        margin-top: 12px;
        margin-left: 0;
    }

   li > form {
       display: flex;
        flex-direction: column;
    }

   .bottle {
       flex-direction: column;
       width: 300px;
   }

   .wine {
       display: flex;
       justify-content: center;
   }

   form > a {
       text-align: center;
       margin-left: 0;
       margin-top: 15px;
   }

    .char > p {
        margin-left: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    #bottom {
        width: 100%;
        justify-content: space-evenly;
    }
}